<!DOCTYPE html>
<html
        layout:decorate="~{layout/mainDefaultLayout}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">
<body>
<th:block layout:fragment="content">
    <main class="main" id="main">
        <section class="section">
            메인

            <form action="/logout" method="post">
                <button class="btn btn-primary" type="submit">로그아웃</button>
            </form>
        </section>
    </main>
</th:block>
</body>
</html>