<!DOCTYPE html>
<html
        layout:decorate="~{layout/mainDefaultLayout}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block layout:fragment="content">
    <script src="/js/calculator/defense.js"></script>
    <main class="main" id="main">
        <section class="section">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body" id="main-content">
                            <div class="d-flex justify-content-center align-items-center bg-sky-blue text-blue fs-2 mt-2 position-relative"
                                 style="font-family: 'Nanum Pen Script', cursive;">블레이드 키우기 방어력 계산기
                                <button class="btn btn-primary position-absolute end-0"
                                        id="btn-save"
                                        sec:authorize="isAuthenticated()"
                                        th:data-command="${command}">저장
                                </button>
                                <button class="btn btn-primary position-absolute end-0" data-command="noAuth"
                                        id="btn-save" sec:authorize="!isAuthenticated()">
                                    저장
                                </button>
                            </div>
                            <!-- Primary Color Bordered Table -->
                            <table class="table table-bordered border-primary">
                                <colgroup>
                                    <col style="">
                                    <col style="width: 20%;">
                                    <col style="width: 20%;">
                                    <col style="width: 20%">
                                </colgroup>
                                <tbody>
                                <form id="hp-frm" method="post">
                                    <tr class="bg-t-mango fw-bold">
                                        <td></td>
                                        <td class="text-center">데이터</td>
                                        <td class="text-center">증가 / 감소</td>
                                        <td class="text-center">최종</td>
                                    </tr>
                                    <tr>
                                        <td>Final DEF</td>
                                        <td class="bg-t-green" id="def-data">0</td>
                                        <td class="bg-t-green" id="def-change-rate">0%</td>
                                        <td class="bg-t-green" id="def-result">0</td>
                                    </tr>
                                    <tr th:each="stat : ${stats}">
                                        <td>
                                            <input th:name="${'userStatList[' + statStat.index + '].name'}"
                                                   th:text="${stat.description}"
                                                   th:value="${stat.name}" type="hidden">
                                        </td>
                                        <td class="bg-t-yellow">
                                            <input class="form-control natural-number"
                                                   oninput="onlyNumberAndComma(this)"
                                                   th:id="${stat.name + '_1'}"
                                                   th:if="${stat.statType.equals('DEF')}"
                                                   th:name="${'userStatList[' + statStat.index + '].point'}"
                                                   th:value="${stat.point == null ? '1,000' : stat.point}"
                                                   type="text">
                                            <input class="form-control percent"
                                                   oninput="onlyNumber(this)"
                                                   th:id="${stat.name + '_1'}"
                                                   th:if="${!stat.statType.equals('DEF')}"
                                                   th:name="${'userStatList[' + statStat.index + '].point'}"
                                                   th:value="${stat.point == null ? '100%' : stat.point}"
                                                   type="text">
                                        </td>
                                        <td class="bg-t-yellow">
                                            <input class="form-control natural-number"
                                                   oninput="onlyNumberAndComma(this)"
                                                   th:id="${stat.name + '_2'}"
                                                   th:if="${stat.statType.equals('DEF')}"
                                                   th:name="${'userStatList[' + statStat.index + '].changeRate'}"
                                                   value="0">
                                            <input class="form-control percent"
                                                   oninput="onlyNumber(this)"
                                                   th:id="${stat.name + '_2'}"
                                                   th:if="${!stat.statType.equals('DEF')}"
                                                   th:name="${'userStatList[' + statStat.index + '].changeRate'}"
                                                   value="0%">
                                        </td>
                                        <td th:id="${stat.name + '_3'}"
                                            th:text="${stat.point == null ? (stat.statType == 'DEF_PERCENT' ? '100%' : '1,000') : stat.point}"></td>
                                    </tr>
                                </form>
                                </tbody>
                            </table>
                            <!-- End Primary Color Bordered Table -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</th:block>
</body>
</html>