<!DOCTYPE html>
<html
        layout:decorate="~{layout/mainDefaultLayout}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">
<body>
<th:block layout:fragment="content">
    <script src="/js/calculator.js"></script>
    <main class="main" id="main">
        <section class="section">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body" id="main-content">
                            <div class="d-flex justify-content-center align-items-center bg-sky-blue text-blue fs-2 mt-2"
                                 style="font-family: 'Nanum Pen Script', cursive;">블레이드 키우기 체력 & 방어 계산기
                            </div>
                            <!-- Primary Color Bordered Table -->
                            <table class="table table-bordered border-primary">
                                <colgroup>
                                    <col style="">
                                    <col style="width: 20%;">
                                    <col style="width: 20%;">
                                    <col style="width: 20%">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td></td>
                                    <td class="text-center">캐릭터의 데이터</td>
                                    <td class="text-center">증가 또는 감소하는 값</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>생명력</td>
                                    <td class="bg-t-yellow">
                                        <input
                                                class="form-control natural-number"
                                                id="hp-1"
                                                oninput="onlyNumberAndComma(this)"
                                                type="text"
                                                value="1,000"/>
                                    </td>
                                    <td class="bg-t-yellow">
                                        <input
                                                class="form-control natural-number"
                                                id="hp-2"
                                                oninput="onlyNumberAndComma(this)"
                                                type="text"
                                                value="0"/>
                                    </td>
                                    <td id="hp-3">1,000</td>
                                </tr>
                                <tr>
                                    <td>생명력 증가</td>
                                    <td class="bg-t-yellow">
                                        <input
                                                class="form-control percent"
                                                id="a-1"
                                                oninput="onlyNumber(this)"
                                                type="text"
                                                value="100%"/>
                                    </td>
                                    <td class="bg-t-yellow">
                                        <input
                                                class="form-control percent"
                                                id="a-2"
                                                oninput="onlyNumber(this)"
                                                type="text"
                                                value="0%"/>
                                    </td>
                                    <td id="a-3">100%</td>
                                </tr>
                                <tr>
                                    <td>장신구 생명력</td>
                                    <td class="bg-t-yellow">
                                        <input
                                                class="form-control percent"
                                                id="b-1"
                                                oninput="onlyNumber(this)"
                                                type="text"
                                                value="100%"/>
                                    </td>
                                    <td class="bg-t-yellow">
                                        <input
                                                class="form-control percent"
                                                id="b-2"
                                                oninput="onlyNumber(this)"
                                                type="text"
                                                value="0%"/>
                                    </td>
                                    <td id="b-3">100%</td>
                                </tr>
                                <tr>
                                    <td>에고 생명력</td>
                                    <td class="bg-t-yellow">
                                        <input
                                                class="form-control percent"
                                                id="c-1"
                                                oninput="onlyNumber(this)"
                                                type="text"
                                                value="100%"/>
                                    </td>
                                    <td class="bg-t-yellow">
                                        <input
                                                class="form-control percent"
                                                id="c-2"
                                                oninput="onlyNumber(this)"
                                                type="text"
                                                value="0%"/>
                                    </td>
                                    <td id="c-3">100%</td>
                                </tr>
                                <tr>
                                    <td>피규어 생명력</td>
                                    <td class="bg-t-yellow">
                                        <input
                                                class="form-control percent"
                                                id="d-1"
                                                oninput="onlyNumber(this)"
                                                type="text"
                                                value="100%"/>
                                    </td>
                                    <td class="bg-t-yellow">
                                        <input
                                                class="form-control percent"
                                                id="d-2"
                                                oninput="onlyNumber(this)"
                                                type="text"
                                                value="0%"/>
                                    </td>
                                    <td id="d-3">100%</td>
                                </tr>
                                <tr>
                                    <td>인장 생명력</td>
                                    <td class="bg-t-yellow">
                                        <input
                                                class="form-control percent"
                                                id="e-1"
                                                oninput="onlyNumber(this)"
                                                type="text"
                                                value="100%"/>
                                    </td>
                                    <td class="bg-t-yellow">
                                        <input
                                                class="form-control percent"
                                                id="e-2"
                                                oninput="onlyNumber(this)"
                                                type="text"
                                                value="0%"/>
                                    </td>
                                    <td id="e-3">100%</td>
                                </tr>
                                <tr>
                                    <td>천상 생명력</td>
                                    <td class="bg-t-yellow">
                                        <input
                                                class="form-control percent"
                                                id="f-1"
                                                oninput="onlyNumber(this)"
                                                type="text"
                                                value="100%"/>
                                    </td>
                                    <td class="bg-t-yellow">
                                        <input
                                                class="form-control percent"
                                                id="f-2"
                                                oninput="onlyNumber(this)"
                                                type="text"
                                                value="0%"/>
                                    </td>
                                    <td id="f-3">100%</td>
                                </tr>
                                <tr>
                                    <td>유물 생명력</td>
                                    <td class="bg-t-yellow">
                                        <input
                                                class="form-control percent"
                                                id="g-1"
                                                oninput="onlyNumber(this)"
                                                type="text"
                                                value="100%"/>
                                    </td>
                                    <td class="bg-t-yellow">
                                        <input
                                                class="form-control percent"
                                                id="g-2"
                                                oninput="onlyNumber(this)"
                                                type="text"
                                                value="0%"/>
                                    </td>
                                    <td id="g-3">100%</td>
                                </tr>
                                <tr>
                                    <td>코어 생명력</td>
                                    <td class="bg-t-yellow">
                                        <input
                                                class="form-control percent"
                                                id="h-1"
                                                oninput="onlyNumber(this)"
                                                type="text"
                                                value="100%"/>
                                    </td>
                                    <td class="bg-t-yellow">
                                        <input
                                                class="form-control percent"
                                                id="h-2"
                                                oninput="onlyNumber(this)"
                                                type="text"
                                                value="0%"/>
                                    </td>
                                    <td id="h-3">100%</td>
                                </tr>
                                <tr>
                                    <td>스페셜 생명력</td>
                                    <td class="bg-t-yellow">
                                        <input
                                                class="form-control percent"
                                                id="i-1"
                                                oninput="onlyNumber(this)"
                                                type="text"
                                                value="100%"/>
                                    </td>
                                    <td class="bg-t-yellow">
                                        <input
                                                class="form-control percent"
                                                id="i-2"
                                                oninput="onlyNumber(this)"
                                                type="text"
                                                value="0%"/>
                                    </td>
                                    <td id="i-3">100%</td>
                                </tr>
                                <tr>
                                    <td>슈퍼 장신구 생명력 강화</td>
                                    <td class="bg-t-yellow">
                                        <input
                                                class="form-control percent"
                                                id="j-1"
                                                oninput="onlyNumber(this)"
                                                type="text"
                                                value="100%"/>
                                    </td>
                                    <td class="bg-t-yellow">
                                        <input
                                                class="form-control percent"
                                                id="j-2"
                                                oninput="onlyNumber(this)"
                                                type="text"
                                                value="0%"/>
                                    </td>
                                    <td id="j-3">100%</td>
                                </tr>
                                <tr>
                                    <td>슈퍼 에고 생명력</td>
                                    <td class="bg-t-yellow">
                                        <input
                                                class="form-control percent"
                                                id="k-1"
                                                oninput="onlyNumber(this)"
                                                type="text"
                                                value="100%"/>
                                    </td>
                                    <td class="bg-t-yellow">
                                        <input
                                                class="form-control percent"
                                                id="k-2"
                                                oninput="onlyNumber(this)"
                                                type="text"
                                                value="0%"/>
                                    </td>
                                    <td id="k-3">100%</td>
                                </tr>
                                <tr>
                                    <td>룬 생명력</td>
                                    <td class="bg-t-yellow">
                                        <input
                                                class="form-control percent"
                                                id="l-1"
                                                oninput="onlyNumber(this)"
                                                type="text"
                                                value="100%"/>
                                    </td>
                                    <td class="bg-t-yellow">
                                        <input
                                                class="form-control percent"
                                                id="l-2"
                                                oninput="onlyNumber(this)"
                                                type="text"
                                                value="0%"/>
                                    </td>
                                    <td id="l-3">100%</td>
                                </tr>
                                <tr>
                                    <td>문양 생명력</td>
                                    <td class="bg-t-yellow">
                                        <input
                                                class="form-control percent"
                                                id="m-1"
                                                oninput="onlyNumber(this)"
                                                type="text"
                                                value="100%"/>
                                    </td>
                                    <td class="bg-t-yellow">
                                        <input
                                                class="form-control percent"
                                                id="m-2"
                                                oninput="onlyNumber(this)"
                                                type="text"
                                                value="0%"/>
                                    </td>
                                    <td id="m-3">100%</td>
                                </tr>
                                <tr>
                                    <td>투지 생명력</td>
                                    <td class="bg-t-yellow">
                                        <input
                                                class="form-control percent"
                                                id="n-1"
                                                oninput="onlyNumber(this)"
                                                type="text"
                                                value="100%"/>
                                    </td>
                                    <td class="bg-t-yellow">
                                        <input
                                                class="form-control percent"
                                                id="n-2"
                                                oninput="onlyNumber(this)"
                                                type="text"
                                                value="0%"/>
                                    </td>
                                    <td id="n-3">100%</td>
                                </tr>
                                <tr>
                                    <td>엠블럼 생명력</td>
                                    <td class="bg-t-yellow">
                                        <input
                                                class="form-control percent"
                                                id="o-1"
                                                oninput="onlyNumber(this)"
                                                type="text"
                                                value="100%"/>
                                    </td>
                                    <td class="bg-t-yellow">
                                        <input
                                                class="form-control percent"
                                                id="o-2"
                                                oninput="onlyNumber(this)"
                                                type="text"
                                                value="0%"/>
                                    </td>
                                    <td id="o-3">100%</td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- End Primary Color Bordered Table -->

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</th:block>
</body>
</html>