<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="commonMainHeader">
    <!-- ======= Header ======= -->
    <header class="header fixed-top d-flex align-items-center" id="header">

        <div class="d-flex align-items-center justify-content-between me-auto">
            <a class="logo d-flex align-items-center" href="/">
                <img alt="" src="/img/logo.png">
                <span class="d-none d-lg-block">블레이드 키우기 계산기</span>
            </a>
        </div><!-- End Logo -->

        <nav class="navbar navbar-expand-lg bg-light me-5">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown me-5">
                            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                               role="button">
                                계산기
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/calculator/hp">체력</a></li>
                                <li><a class="dropdown-item" href="#">방어력</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown me-5">
                            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                               href="#"
                               role="button">
                                정보 및 데이터
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item me-5">
                            <a aria-current="page" class="nav-link" href="#">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <i class="bx bxs-user pe-2"></i>
                                    나의 정보
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a aria-current="page" class="nav-link" href="/logout" sec:authorize="isAuthenticated()">
                                로그아웃
                            </a>
                            <a aria-current="page" class="nav-link" href="/login"
                               sec:authorize="!isAuthenticated()">
                                로그인
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header><!-- End Header -->
</th:block>
</html>